
header{
	background-color: darkblue;
	top: 3902px;
	left: 0px;
	width: 1920px;
	height: 308px;
	display: flex;
	justify-content: space-between;
}

h2{
	top: 3972px;
	left: 240px;
	width: 184px;
	height: 38px;
	color: #FFFFFF;
	size: 32px;
	text-transform: uppercase;
	padding: 70px;
	padding-left: 240px;
}

.dotss{
	display: flex;
	align-items: center;
}

.dots{
	top: 3986px;
	left: 1639px;
	width: 10px;
	height: 10px;
	padding: 70px;
	padding-right: 241px;
	opacity: 0.3;
	border-radius: 50%;
	background-color: white;
    height: 1px;
    width: 1px;
    margin-right: 5px;
}

/*div:first-child{}
.first_dot{
	opacity: 1;
	background-color: white;
	color: white;
}*/

.box{
	position:relative;
}
.box{
	display:inline-block;
	width:463px;
	height:420px;
	vertical-align:right;
	margin-inline:25px;

}
.box p{
	position:absolute;
	width:80%;
	padding:5px;
	bottom:1px;
	left:50px;
	background-color:white;
	border-radius: 12px;
	font-size: 18px;
}

.divs{
	margin-left:50px;
	padding-left: 240px;
	margin-top: -50px;	
}

.divs > .box:nth-child(2){
	transform: translateY(-30px);
}

footer{
	text-align: right;
	max-width: 60%;
}


